
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .courier { font-family: 'Courier Next', courier, monospace; } */


.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}